form{
    background-color: white;
    padding: 30px;
    width: 375px;
    margin: 0 auto;
    text-align: center;
} 
body{
    background-image: url("../assets/img/fondologin.jpeg");
    background-size: cover;
}
#lbInicioSesion{
    font-size: 40px;
    color: #a1a1a1;
}