body{
    background-image: url("../assets/img/fondologin.jpeg");
    background-size: cover;
}
.inicio{
    width: 700px;
    float: none;
}
.usuario_almacenI{
    background-color: white;
}
.boton_ingresar_usuario{
    align-items: center;
    width: 200px;
}