body{
    background-image: url("../assets/img/fondologin.jpeg");
    background-size: cover;
}
form{
    background-color: white;
    padding: 20px;
    width: 375px;
} 
#lbInicioSesion{
    font-size: 30px;
}
